<h2>Books</h2>
<table class='table table-hover table-inverse'>
  <thead>
    <tr> 
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% books.each do |book| %>
      <tr>
        <td>
          <%= link_to book.user do %>
            <%= attachment_image_tag book.user, :profile_image, fallback: "no_image.jpg", size: "50x50" %>
          <% end %>
        </td>
        <td><%= link_to book.title, book %></td>
        <td><p><%= book.body %></p></td>
        <td>
          <div class='fav_container'>
            <%= favorite_link(book, current_user) %>
            <div class="popup" style="display: none; position: absolute; z-index: 1;">
              <%= render 'books/favorites/pickup', book: book %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $('.fav_container').on('mouseover', function(){
    $(this).children('div.popup').show();
  });

  $('.fav_container').on('mouseout', function(){
    $(this).children('div.popup').hide();
  });
</script>
