<h2>Book detail</h2>

<table class="table">
  <tbody>
    <tr>
      <td>
        <%= link_to @book.user do %>
          <%= attachment_image_tag @book.user, :profile_image, fallback: "no_image.jpg", size: "100x100" %>
          <br>
          <%= @book.user.name %>
        <% end %>
      </td>
      <td><%= link_to @book.title, @book %></td>
      <td><%= @book.body %></td>
      <% if @book.user == current_user %>
        <td><%= link_to 'Edit', edit_book_path, class: 'btn-sm btn-success' %></td>
        <td><%= link_to 'Destroy', book_path, method: :delete, class: 'btn-sm btn-danger', data: { confirm: '本当に消しますか？' } %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<%= favorite_link(@book, current_user) %>
<%= render 'books/favorites/pickup' %>
